
$gutter: 1rem;

$white: #fff;
$offwhite: #f9fbf3;
$lightgray: #cfd1c7;
$gray: gray;
$darkgray: #444;
$black: #000;
$blue: #2184B8;

$border: 1px solid rgba($black, 0.2);
$shadow: 1px 1px 8px rgba($black, 0.2);
$transition: all 0.125s;

$fontsmall: 0.85rem;

$star: '\2605';

%flexy {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

%wrap {
  max-width: 1300px;
  margin: 0 auto;
  padding: $gutter / 2;
  width: 100%;

  @media only screen and (min-width: 60rem) {
    padding: $gutter;
  }

}

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%bullet-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0.75em;
  text-indent: -0.75em;

  li:before {
    color: $gray;
    content: $star;
    font-size: 0.5em;
    padding-right: 0.5em;
    vertical-align: 0.25em;
  }

  li li:before {
    content: '\2022';
  }
}

%label {
  border: $border;
  font-size: $fontsmall;
  font-weight: normal;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: rgba($black, 0.4);
  }

}

@mixin button($shadow: null, $color: null, $bg: $white) {
  @extend %label;
  background: $bg;

  @if ($shadow) {
    box-shadow: $shadow;
    transition: $transition;
  }

  @if ($color) {
    color: $color;

    &:hover,
    &:focus {
      color: darken($color, 10);
    }
  }

}