@import 'normalize';
@import 'fonts';
@import 'utilities';


/* GLOBAL ***/

html {
  font-size: 18px;
}

body {
  background: $lightgray;
  font-family: $sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: $blue;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.075s;

  &:hover,
  &:focus {
    color: $darkgray;
  }

}

button,
.button {
  @include button($shadow);
}

input[type='submit'] {
  @include button;
  cursor: pointer;
}

a img {
  border: $border;
  box-shadow: $shadow;
  transition: $transition;

  &:hover,
  &:focus {
    border-color: rgba($black, 0.4);
  }

}

h1,
h2 {
  margin: 0;
}

h2 {
  color: $darkgray;
  font-family: $serif;
  font-size: 1.5em;
}

ul {
  padding-left: 1em;
}

.wrap {
  @extend %wrap;
}

main {
  background: $offwhite;
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover; /* warning: not supported by ie */
}

.thumbnail img {
  height: 100%;
  width: 100%;
}

.flex {
  @extend %flexy;
  justify-content: space-between;
}

.page-header {
  margin-bottom: $gutter * 2;
}


/* HEADER ***/

.site-header {
  background: $white;

  .wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 8rem;
    justify-content: center;

    @media only screen and (min-width: 60rem) {
      flex-direction: row;
      justify-content: space-between;
    }

  }

} // .site-header

.logo {
  color: lighten($gray, 5);
  margin-bottom: 1rem;
  text-align: center;

  &:hover,
  &:focus {
    color: $darkgray;
  }

  h1 {
    font-family: 'Autor Black', $sans-serif;
    font-size: 3rem;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;

    @media only screen and (min-width: 60rem) {
      font-size: 4.2rem;
    }

  }

  p {
    color: $darkgray;
    font-family: $serif;
    font-size: 0.675rem;
    font-style: italic;
    font-weight: normal;
    margin: 0;

    @media only screen and (min-width: 60rem) {
      font-size: $fontsmall;

      &::before,
      &::after {
        color: $gray;
        content: $star;
        font-size: 0.65em;
        font-style: normal;
        vertical-align: 0.15em;
      }

      &::before {
        padding-right: 0.5em;
      }

      &::after {
        padding-left: 0.5em;
      }
    }

  } // .logo p

  @media only screen and (min-width: 60rem) {
    margin-bottom: 0;
  }

} // .logo

.searchform {

  div {
    display: flex;
  }

  input[type='submit'] {
    margin-left: $gutter / 2;
  }

}


/* FOOTER ***/

.site-footer {
  font-size: $fontsmall;
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;

  a {
    @include button($color: $darkgray, $bg: transparent);
    display: table;
  }

  .footer-widget {
    margin-bottom: $gutter;
  }

  @media only screen and (min-width: 30rem) {

    .wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .footer-widget {
      width: calc(50% - #{$gutter});
    }

  }

} // .site-footer


/* HOMEPAGE ***/

.home {

  .thumbnail {
    height: 8rem;
  }

  main .wrap {
    display: grid;
    grid-column-gap: $gutter;
    grid-row-gap: $gutter;
    grid-auto-rows: 5rem;
    grid-template-columns: 100%;
    grid-template-areas:
      "main-top"
      "main-top"
      "grid"
      "grid"
      "grid"
      "main-bottom"
      "main-bottom"
      "column"
      "column"
      "column"
      "column"
      "column"
      "bottom"
      "bottom";

    @media only screen and (min-width: 30rem) {
      grid-column-gap: $gutter * 2;
      grid-row-gap: $gutter * 2;
      grid-template-columns: minmax(50%, 38rem) 1fr;
      grid-template-areas:
        "main-top column"
        "main-top column"
        "main-top column"
        "main-bottom column"
        "main-bottom column"
        "bottom bottom"
        "grid grid"
        "grid grid"
        "grid grid";
    }

    @media only screen and (min-width: 60rem) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "grid main-top column"
        "grid main-top column"
        "grid main-top column"
        "grid main-bottom column"
        "grid main-bottom column"
        "grid bottom bottom";
    }
  } // .home main .wrap

} // .home

.widget_media_image img,
.featured-large img {
  max-height: 100%;
}

.featured-large {
  grid-area: main-top;
}

.featured-medium {
  grid-area: main-bottom;
}

.recent {
  grid-area: grid;

  .thumbnail {
    height: calc(25% - #{$gutter / 2});
    width: calc(33% - #{$gutter / 2});

    @media only screen and (min-width: 30rem) {
      height: calc(33% - #{$gutter});
      width: calc(25% - #{$gutter});
    }

    @media only screen and (min-width: 60rem) {
      height: calc(20% - #{$gutter});
      width: calc(50% - #{$gutter});

      // don't display last two (don't fit)
      &:nth-last-of-type(1),
      &:nth-last-of-type(2) {
        display: none;
      }
    }

  } // .recent .thumbnail

} // .recent

.menu-1 {
  grid-area: column;

  ul {
    @extend %bullet-list;
  }

} // .menu-1

.menu-2 {
  grid-area: bottom;

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    display: inline;
    margin-right: 0.25em;

    + li:before {
      color: $gray;
      content: '\2022';
      padding-right: 0.5em;
    }

  }

} // .menu-2

.show-all {
  grid-area: column;
  place-self: end stretch;

  .button {
    display: block;
  }

}


/* SINGLE ***/

meta,
.wp-block-image figcaption {
  font-size: $fontsmall;
}

.meta {
  margin-top: 0.5em;
}

.single img,
figcaption {
  max-width: 34rem;
  width: 100%;

  @media only screen and (min-width: 80rem) {
    max-width: 44rem;
  }

}

.neighborhoods a {
  @extend %label;
  color: $darkgray;

  &:hover,
  &:focus {
    border-color: $darkgray;
  }

  + a {
    margin-left: $gutter / 2;
  }

}


/* ARCHIVES ***/

.blog,
.archive,
.search-results {

  .thumbnail {
    margin-bottom: $gutter;
    width: calc(50% - #{$gutter / 2});
    @media only screen and (min-width: 30rem) {
      width: calc(33% - #{$gutter / 2});
    }
  }

}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: $gutter;
  padding-bottom: $gutter;
  width: 100%;

  a {
    @include button($shadow);
    margin-bottom: $gutter / 2;
  }

  @media only screen and (min-width: 30rem) {
    flex-direction: row;
  }

}