@import 'normalize';
@import 'fonts';

/* GLOBAL ***/

$gutter: 1rem;

$white: #fff;
$offwhite: #f9fbf3;
$lightgray: #cfd1c7;
$gray: gray;
$darkgray: #444;
$black: #000;
$blue: #2184B8;

$border: 1px solid rgba($black, 0.2);

$fontsmall: 0.85rem;

%flexy {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

%wrap {
  max-width: 1300px;
  margin: 0 auto;
  padding: $gutter;
  width: 100%;
}

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html {
  font-size: 18px;
}

body {
  background: $lightgray;
  font-family: $sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: $blue;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.075s;

  &:hover,
  &:focus {
    color: $darkgray;
  }

}

%label {
  border: $border;
  font-size: $fontsmall;
  font-weight: normal;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: rgba($black, 0.4);
  }

}

%button {
  @extend %label;
  background: $white;
}

.button,
button,
input[type='submit'] {
  @extend %button;
}

input[type='submit'] {
  cursor: pointer;
}

a img,
.button {
  box-shadow: 1px 1px 8px rgba($black, 0.2);
  transition: all 0.125s;
}

a img {
  border: $border;

  &:hover,
  &:focus {
    border-color: rgba($black, 0.4);
  }

}

h1,
h2 {
  margin: 0;
}

h2 {
  color: $darkgray;
  font-family: $serif;
  font-size: 1.5em;
}

ul {
  padding-left: 1em;
}

.wrap {
  @extend %wrap;
}

main {
  background: $offwhite;
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover; /* warning: not supported by ie */
}

.thumbnail img {
  height: 100%;
  width: 100%;
}

.flex {
  @extend %flexy;
  justify-content: space-between;
}

.page-header {
  margin-bottom: $gutter * 2;
}

.page-title {
  width: 100%;
}


/* HEADER ***/

.site-header {
  background: $white;

  .wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    justify-content: space-between;
  }

}

.logo {
  font-family: 'Autor Black', $sans-serif;
  text-transform: uppercase;

  h1 {
    margin: 0;
  }

  a {
    color: $lightgray;

    &:hover,
    &:focus {
      color: $darkgray;
    }

  }

  @media only screen and (min-width: 60rem) {
    font-size: 3.25rem;
  }

} // .logo

.searchform {

  div {
    display: flex;
  }

  input[type='submit'] {
    margin-left: $gutter / 2;
  }

}


/* FOOTER ***/

.site-footer {
  font-size: $fontsmall;
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;

  a {
    color: $darkgray;

    &:hover,
    &:focus {
      color: $black;
    }

  }

} // .site-footer


/* HOMEPAGE ***/

.home {

  .thumbnail {
    height: 8rem;
  }

  main .wrap {
    display: grid;
    grid-column-gap: $gutter;
    grid-row-gap: $gutter;
    grid-auto-rows: 5rem;
    grid-template-columns: 100%;
    grid-template-areas:
      "main-top"
      "main-top"
      "grid"
      "grid"
      "grid"
      "main-bottom"
      "main-bottom"
      "column"
      "column"
      "column"
      "column"
      "column"
      "bottom"
      "bottom";

    @media only screen and (min-width: 30rem) {
      grid-column-gap: $gutter * 2;
      grid-row-gap: $gutter * 2;
      grid-template-columns: minmax(50%, 38rem) 1fr;
      grid-template-areas:
        "main-top column"
        "main-top column"
        "main-top column"
        "main-bottom column"
        "main-bottom column"
        "bottom bottom"
        "grid grid"
        "grid grid"
        "grid grid";
    }

    @media only screen and (min-width: 60rem) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "grid main-top column"
        "grid main-top column"
        "grid main-top column"
        "grid main-bottom column"
        "grid main-bottom column"
        "grid bottom bottom";
    }
  } // .home main .wrap

} // .home

.widget_media_image img,
.featured-large img {
  max-height: 100%;
}

.featured-large {
  grid-area: main-top;
}

.featured-medium {
  grid-area: main-bottom;
}

.recent {
  grid-area: grid;

  .thumbnail {
    height: calc(25% - #{$gutter / 2});
    width: calc(33% - #{$gutter / 2});

    @media only screen and (min-width: 30rem) {
      height: calc(33% - #{$gutter});
      width: calc(25% - #{$gutter});
    }

    @media only screen and (min-width: 60rem) {
      height: calc(20% - #{$gutter});
      width: calc(50% - #{$gutter});

      // don't display last two (don't fit)
      &:nth-last-of-type(1),
      &:nth-last-of-type(2) {
        display: none;
      }
    }

  } // .recent .thumbnail

} // .recent

.menu-1 {
  grid-area: column;
}

.menu-2 {
  grid-area: bottom;

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    display: inline;
    margin-right: 0.25em;

    + li:before {
      color: $gray;
      content: '\2022';
      padding-right: 0.5em;
    }

  }

} // .menu-2

.show-all {
  grid-area: column;
  place-self: end stretch;

  .button {
    display: block;
  }

}


/* SINGLE ***/

meta,
.wp-block-image figcaption {
  font-size: $fontsmall;
}

.meta {
  margin-top: 0.5em;
}

.single img,
figcaption {
  max-width: 34rem;
  width: 100%;

  @media only screen and (min-width: 80rem) {
    max-width: 44rem;
  }

}

.neighborhoods a {
  @extend %label;
  color: $darkgray;

  &:hover,
  &:focus {
    border-color: $darkgray;
  }

  + a {
    margin-left: $gutter / 2;
  }

}


/* ARCHIVES ***/

.blog,
.archive,
.search-results {

  main .wrap {
    @extend %flexy;
  }

  .thumbnail {
    margin-bottom: $gutter;
    width: calc(33% - #{$gutter / 2});
  }

}

.pagination {
  display: flex;
  justify-content: space-between;
  padding-top: $gutter;
  padding-bottom: $gutter;
  width: 100%;

  a {
    @extend %button;
    box-shadow: 1px 1px 8px rgba($black, 0.2);
    transition: all 0.125s;
  }

}